/* -----------Header styles start here  --------*/

/*html{
	height: 100%;
	background: url(../images/bg.jpg)no-repeat center center;
	background-size: cover;
} */
body{
	margin:0; 
	font-family: 'Vollkorn', serif;
/*	height: 2000px;*/
}

#bg-image img{
	width: 100%;
	opacity: 0.2;
	position: fixed;
	z-index: -1;
	/*bottom: 0;
	top: 0;*/
	height: 100%;
}

nav ul{
	margin-top: 0;
	background-color:#333;
	margin-bottom:0;
}

nav li{
	display: inline-block;
	padding: 20px 0;
	margin-right: 18px;
}

nav li a{
	text-decoration: none;
	color: #62bcfa;
}

nav li a:hover{
	color:#ED1C24;
}
#active-site{
	text-decoration: underline;
}
nav{
	position:fixed;
	width: 100%;
	z-index:5;
}
nav ul:hover{
	background-color:#191919;
}

#social{
	width: 17%;
	background-color:transparent;
	font-size: 18px;
	color:#62bcfa;
	position: absolute;
	right:2px;
	top:0px;	
}
#social li {
	margin-right: 20px;
}
#social li a:hover{
	color: #ED1C24;
}

#logo-img{
	width: 40px;
	position: absolute;
}
#logo h1{
	/*padding-top: 65px;*/
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
	text-transform: uppercase;
}
#logo {
	text-align: center;
	margin:0 auto;
	width: 200px;
	height: 100px;
	/*border:3px solid #333;
	background:red;*/
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	box-sizing: border-box;
	/*padding-top: 15px;*/
	/*background-color: yellow;
*/}
#contact-mail{
	/*background-color: green;*/
	width:16%;
	float: right;
	position: absolute;
	top:62px;
	right:15px;
}
#contact-mail input,i{
	margin-bottom:8px;
}
#logo-box{
	padding-top: 65px;
	/*background-color: red;*/
	position: relative;
}
#logo span{
	display: block;
	font-size: 40px;
}

.current{
	text-decoration: underline;

}

/*------------------Header Style Ends here ----------------------------------*/



/*-------------Main-page Style Starts here ------------------------------------------------*/

#main-image img{
	display: block;
	width: 100%;
	border-radius: 5px;
	
}
#main-image{
	width:85%;
	/*height:600px;*/
	/*background-color: blue;*/
	margin-top:18px;
	margin: 0 auto;
	position: relative;
}
#main-image h1{
	/*text-transform: uppercase;*/
	font-size:40px;
	color:#fff;
	position: absolute;
	left:35px;
	top:140px;
	/*padding:28px 12px;
	background-color:#333;
	opacity: 0.4;*/
}
#main-image span{
	font-size: 15px;
	display: block;
}
#image-box{
	position: relative;

}
#main-image p{
	/*font-weight:bold;*/
	font-size: 18px;
	margin-top: 50px;

	}

#book-now{
	width: 180px;
	font-size: 22px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	border-radius: 4px;
	/*font-weight: bold;*/
	padding:7px 12px;
	background-color:#ED1C24;
	position: absolute;
	right: 70px;
	top: 200px;
	color: white;
	border:1px solid red;
}
#left-arrow{
	width: 50px;
	position: absolute;
	left:18px;
	top: 25%;
}
#right-arrow{
	width: 50px;
	position: absolute;
	right: 18px;
	top: 25%;
}

#main-box{
	/*background-color: pink;*/
	width: 85%;
	margin:80px auto 40px auto;
	height: 400px;

}
#left-1{
	float: left;
	/*background-color: yellow;*/
	width:45%;
}
#left-2{
	float: right;
	/*background-color: brown;*/
	width: 45%;
}
#right-1{
	/*background-color: orange;*/
	width: 45%;
	float: left;
}
#right-2{
	/*background-color: purple;*/
	width: 45%;
	float: right;
}

#left-box img{
	max-width:100%; 
}
#right-box img{
	max-width: 100%;
}
#left-box{
	width:47.3%;
	/*background-color: red;*/
	float: left;
	text-align: center;
}
#right-box{
	width:47.3%;
	/*background-color: green;*/
	float: right;
	text-align: center;

}
/*section>div{
	width: 85%;
	height: 600px;
	background-color: blue;
	margin:0 auto;
}*/
.images{
	border-radius: 5px;
	height: 165px;
}
.images-heading{
	text-decoration: none;
	color:brown;
}
.find-out{
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:36px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}


#video video{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#video-box{
	/*margin-top: 40px;*/
	/*background-color: red;*/
}
#video{
	width: 85%;
	/*background-color: green;*/
	margin:0 auto;
}



















/* Footer style starts here ............................................................*/

footer{
	height: 300px;
	background-color: #62bcfa;
}
.footer-nav{
	background-color:#62bcfa;
	width:32%;
}
.footer-nav a{
	text-decoration: none;
	color:#191919;
}
.footer-nav a:hover{
	color: #ED1C24;
}
.footer-nav ul {
	padding-left: 20px;
}
.footer-nav li{
	display: inline-block;
	margin-right: 25px;
	padding-top: 8px;
}
#search-box{
	margin-top:0px;
	margin-left:40px;
	/*background-color: yellow;*/
	width:40%;
	float: left;

}
#search-box div{
	margin-bottom:8px;
}
#search-box div input,textarea{
	width:200px;
}
#footer-submit{
	/*background-color: red;*/
	width: 80px;
	padding-top: 7px;
	padding-bottom:7px;
}
#search-box input{
	height:20px;

}
#search{
	width:200px;
}
#search-box div h1{
	font-size:20px;
	margin-top: 0;
}
#left-address {
	width:40%;
	/*background-color: pink;*/
	float: right;
	text-align: left;
}
#left-address h1{
	font-size: 20px;
	margin-top: 5px;
}
#left-address img{
	width:250px;
	margin-bottom:70px;
}
#left-address span{
	/*display: block;*/
	margin-bottom: 20px;
}
#contact h1{
	margin-top: 0;
	font-size: 22px;
	color: white;
	margin-bottom: 10px;
}
#contact h2{
	font-size: 18px;
	text-decoration: underline;
	margin-top:5px;
}
#bottom-left{
	height: 250px;
	/*background-color: red;*/
	width:55%;
	float: left;
	/*background-color: red;*/
}
#bottom-right{
	height: 280px;
	/*background-color: yellow;*/
	width:40%;
	float: right;
	margin-top: -25px;
/*	background-color: green;*/
	padding-left:10px;
	box-sizing: border-box;
}
#contact{
	width: 50%;
	float: left;

}
#contact a{
	display: inline-block;
	/*text-decoration: none;*/
	color: white;
	font-size: 18px;
}
#map h2{
	text-decoration: underline;
	font-size: 18px;
	margin-top: 6px;
}
#contact i{
	margin-bottom:10px;
	/*margin-left: 10px;*/
}
#contact span{
	display: block;
	margin-bottom: 20px;
}

#map{
	float: right;
	margin-right:20px;
	margin-top: 10px;
	/*background-color: grey;*/
	width:40%;
}
address{
	font-size:16px;
	font-style: normal;
}

}
.footerspan{
	font-size:10px;
	background-color: red;
	color: blue;

}


/*Footer Stylesheet ends here ................................................................................................*/
