<nav>
	<ul>
		<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
		<li><a href="{{site.baseurl}}/about-us.html" class="{% if page.url == '/about-us.html' %}current{% endif %}">About Us</a></li>
		<li><a href="{{site.baseurl}}/flights.html" class="{% if page.url == '/flights.html' %}current{% endif %}">Flights</a></li>
		<li><a href="{{site.baseurl}}/gallery.html" class="{% if page.url == '/gallery.html' %}current{% endif %}">Gallery</a></li>
		<li><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
		<li><a href="{{site.baseurl}}/blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Blog</a></li>
		<li><a href="{{site.baseurl}}/github.html" class="{% if page.url == '/github.html' %}current{% endif %}">Github</a></li>
	</ul>

	<ul id="social">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
		<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#"><i class="fa fa-flickr"></i></a></li>
	</ul>
</nav>