<!DOCTYPE html>
<html>
<head>
	<title>Fly To The Limit</title>
	<script src="https://use.fontawesome.com/3ea3387309.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

	<nav>
				<ul>
					<li><a href="{{site.baseurl}}/index.html" id="active-site">Home</a></li>
					<li><a href="{{site.baseurl}}/about-us.html">About Us</a></li>
					<li><a href="{{site.baseurl}}/flights.html">Flights</a></li>
					<li><a href="{{site.baseurl}}/gallery.html">Gallery</a></li>
					<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
					<li><a href="{{site.baseurl}}/github.html">Github</a></li>
				</ul>

				<ul id="social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-flickr"></i></a></li>
				</ul>
		</nav>

		<div id="logo-box">
			<div id="logo">
				<h1>fly to the <span>limit<img src="images/logo.png" id="logo-img"></span></h1>
			</div>
			<div id="contact-mail">
				<input type="search" name="search" placeholder="Search site..." size="25" results='3'></input>
				<i class="fa fa-phone" aria-hidden="true">
					<span class="footer-span">  :  0800403885</span>
				</i><br>
				
				<i class="fa fa-envelope-o" aria-hidden="true">
					<span class="footer-span">  :  info@flytothelimit.co.nz</span>
				</i>

				
			</div>
		</div>



{{content}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>